.wrap {
    position: relative;
}

.title {
    position: absolute;
    top: 7px;
    right: -32px;
    z-index: 1;
    opacity: 1;
    transition: all ease .4s;
}

/* .wrap {
    &:hover {
        .title {
            right: -32px;
            opacity: 1;    
        }
    }
} */

.content {
    padding: 4px 2px;
    height: 100vh;
    overflow-y: scroll;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.cat {
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 10px;
    margin: 0 2px;
    border-radius: 3px;
    /* background: var(--mantine-color-dark-8); */
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 8px;
}

.block {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--mantine-color-dark-4);
    border-radius: 10px;
    cursor: pointer;
    background: var(--mantine-color-dark-5);

    &[data-disabled="true"] {
        opacity: .4;
        pointer-events: none;
    }
}

.blockIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
}

.blockIcon svg {
    width: 24px;
    height: 24px;
}

.blockTitle {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    max-width: 84px;
    padding: 0 10px;
}