.contextmenu {
    padding: 6px;
    background-color: var(--mantine-color-dark-5) !important;
}

.contextmenu__item {
    font-size: 11px;
    padding: 8px;
    border-radius: 3px;
    &:hover {
        background-color: var(--mantine-color-dark-4) !important;
    }
}

.submenu {
    /* padding: 12px; */
}

.submenu__item {
    padding: 6px !important;
    background-color: var(--mantine-color-dark-5) !important;
    border-color: var(--mantine-color-dark-3) !important;
}

.contextmenu .submenu > .contextmenu__item:after {
    border-color: transparent transparent transparent #fff;
    border-width: 4px 6px !important;
}

.submenu:hover > .contextmenu__item,
.submenu:focus-within > .contextmenu__item {
    background-color: var(--mantine-color-dark-4) !important;
}

.contextmenu__item_with_icon {
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 4px;
}