:root {
    --bg: #242424;
    --border-c: #3B3B3B;
    --in-c: #383838;
}

.editor {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--bg);
    color: #e9e9e9;

    &_panelWrap {
        width: 100%;
        display: flex;
    }

    &_leftPanel {
        width: 320px;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 1;
        background: var(--bg);

        &_content {
            flex: 1;
            display: flex;
            position: relative;
            overflow: hidden;
        }
    }

    &_centerPanel {
        flex: 1;
        background: #141414;
        position: relative;
        overflow: hidden;
    }

    &_rightPanel {
        display: flex;
        flex-direction: column;
        padding: 0 1px;
        width: 280px;
        height: 100%;
        overflow: hidden;
        position: relative;
        z-index: 1;
        background: var(--bg);

        &_topBar {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            gap: 2px;
            height: 30px;
            border-bottom: 1px solid var(--border-c);

            &_coll {
                display: flex;
                align-items: center;
            }

            &_play {
                display: flex;
                align-items: center;
                justify-items: center;
                padding: 0 12px;

                &:disabled {
                    pointer-events: none;
                    opacity: .4;
                }
            }

            &_code {
                display: flex;
                align-items: center;
                justify-items: center;
                padding: 0 12px;

                &:disabled {
                    pointer-events: none;
                    opacity: .4;
                }
            }

            &_zoom {
                color: #fff;
                font-size: 11px;
                font-weight: 400;
                border-radius: 3px;
                height: 100%;
                position: relative;
                padding: 0 12px;
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 4px;
            }
        }

        &_content {
            flex: 1;
            position: relative;
            overflow: hidden;
        }
    }
}

.brand {
    display: flex;
    gap: 2px;
    height: 100%;

    &_wrap {
        display: flex;
        gap: 2px;
        padding: 0 8px 8px;
        border-bottom: 1px solid var(--border-c);
    }

    &_left {
        display: flex;
        gap: 2px;
        flex-direction: column;
    }

    &_right {}

    &_logo {
        display: flex;
        align-items: flex-end;
        width: 18px;
        flex-wrap: wrap;
        position: relative;

        svg {
            max-width: 18px;
            color: #fff;
        }
    }

    &_card {
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: 28px;
        font-size: 13px;
        letter-spacing: -.1px;
        padding: 0 6px;
        line-height: 1;
        position: relative;
    }
}

.toolbar {
    position: relative;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2px;
    border-left: 1px solid var(--border-c);
    padding: 4px;

    &_row {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &_divider {
        height: 1px;
        width: 100%;
        background: var(--border-c);
        margin: 4px 0;
    }

    &_action {
        display: flex;
        width: 100%;
        aspect-ratio: 1/1;
        align-items: center;
        justify-content: center;
        position: relative;
        border-radius: 3px;

        svg {
            width: 18px;
            height: 18px;
        }

        &_active {
            background: var(--in-c);
        }

        &:disabled {
            opacity: .4;
            cursor: default;
        }

        &_home {
            background: #ffffff4d;
            color: var(--bg);
            svg {
                width: 14px;
                height: 14px;
            }
        }
    }

}


.layerPanel {
    width: 100%;
}








.wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--mantine-color-dark-9);
}

.topBar {
    position: absolute;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    top: 0px;
    left: 0;
    padding: 0 18px 0 4px;
    gap: 4px;
    z-index: 1;
}

.topBar_col {
    display: flex;
    align-items: center;
}

.topBar_col_left {
    width: 252px;
    /* border-left: 1px solid #333; */
    /* padding-left: 20px; */
}

.topBar_col_right {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.documentTitle {
    color: var(--mantine-color-dark-0);
    font-size: 11px;
    font-weight: 400;
    margin-left: 12px;
}

.actionWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.actionTools {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.actionPanels {}

.topBarAction {
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 3px;

    svg {
        width: 18px;
        height: 18px;
    }
}

.topBarActionActive {
    background: var(--mantine-color-dark-6);
    /* color: #fff; */
}

/* .topBarAction:after {
    content: '';
    width: 100%;
    height: 3px;
    background: var(--mantine-color-blue-9);
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: all ease .4s;
    border-radius: 3px;
}

.topBarActionActive:after {
    opacity: 1;
} */

.verticleActionPanels {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--mantine-color-dark-6);
    padding-bottom: 16px;
    transition: all ease .6s;
    background: var(--mantine-color-dark-9);
}

.logoWrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
    border-bottom: 1px solid var(--mantine-color-dark-5);

    &:hover .logo {
        transform: scale(.2);
        opacity: 0;
    }

    &:hover .menuWrap {
        transform: scale(1);
        opacity: 1;

    }

    .logo {
        width: 40px;
        color: var(--mantine-color-gray-9);

        svg {
            overflow: visible;
            stroke-width: 5px;
            stroke-linejoin: bevel;
            stroke: #141414;
            width: 19px;
            color: var(--mantine-color-dark-2);
        }
    }
}

.logo {
    position: relative;
    transition: all ease .4s;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 26px;
    }
}

.menuWrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all ease .4s;
    transform: scale(1);
}

.center {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.contentWrap {
    /* topbar + footer = 84*/
    position: relative;
    display: flex;
    left: 40px;
    width: calc(100% - 40px);
    height: 100%;
}

.contentSidebarWrapper {
    display: flex;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    /* background: #191b21e8;
    backdrop-filter: blur(8px); */
}

.contentSidebar {
    pointer-events: all;
    display: none;

    &[data-show="true"] {
        display: block;
    }
}

.contentSidebarPanelWrap {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    */
    height: 100%;
    display: none;
    pointer-events: all;
    background: var(--mantine-color-dark-9);
    border-right: 1px solid var(--mantine-color-dark-6);

    &[data-show="true"] {
        display: flex;
    }
}

.documentSidebar {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    height: 100%;
    position: relative;
    background: var(--mantine-color-dark-9);
    border-left: 1px solid var(--mantine-color-dark-6);

    &_section {
        border-bottom: 1px solid var(--mantine-color-dark-6);
        padding: 8px;
    }

    &_title {
        font-size: 13px;
        display: flex;
        justify-content: end;
        gap: 6px;
    }
}

.previewCanvasWrapper {
    flex: 1;
    position: relative;
    top: 40px;
    height: calc(100% - 40px);
    border-radius: 12px 0 0 0;
    overflow: hidden;
}

.contentCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &[data-mode="text"] {
        width: calc(100% - 652px);
        left: auto;
        right: 0;
    }
}

.canvasWrappers {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    color: rgb(255 255 255 / 10%);
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
}

.canvasWrappers::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.canvasContent {
    transform-origin: left top;
    position: relative;
    display: table;
    /* padding: 400px; */
}

.canvasContentDeviceWrapper {
    display: flex;
    gap: 200px;
    align-items: flex-start;
}

.deviceFrame {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 0;
    font-size: 11px;
    font-weight: 300;

    &[data-active="true"] {
        /* border: 1px solid var(--mantine-color-blue-6); */
    }

    &[data-minimize="true"] {
        min-width: 200px;
    }
}

.deviceHeader {}

.deviceActions {
    position: absolute;
    right: 10px;
    top: 8px;
}

.deviceTitle {
    height: 32px;
    width: 100%;
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
    color: var(--mantine-color-dark-1);

    span {
        color: var(--mantine-color-dark-2);
    }
}

.verticalScrollbar {
    position: absolute;
    top: 0;
    right: 2px;
    width: 6px;
    height: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    cursor: pointer;
}

.horizontalScrollbar {
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 6px;
    width: 60px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    cursor: pointer;
}

.postTitle {
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.postTitle span {
    opacity: .6;
}

.footer {
    /* height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--mantine-color-dark-6); */
}

.footer_col {
    display: flex;
    align-items: center;
}