.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 12px;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--mantine-color-dark-4);
    display: none;
}

.content {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.rootAdd {
    padding: 12px;
    padding-top: 0;
    position: relative;
    display: inline-block;
}

.footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 24px;
    background: #242424;
    width: 100%;
    z-index: 9;
    border-top: 1px solid var(--border-c);
    padding: 0 12px;
}

.footerAction {
    display: flex;
    align-items: center;
    width: 24px;
    height: 20px;
    justify-content: center;
    border-radius: 3px;

    &[data-active="true"] {
        background: var(--in-c);
    }
}