.section {
    display: flex;
    flex-direction: column;
    
    &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 11px;
        font-weight: 400;
        height: 30px;
        padding: 8px;
        border-bottom: 1px solid var(--border-c);

        &_col {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        &_arrow {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 16px;

            &[data-open="true"] {
                transform: rotate(-90deg);
            }
        }

        &_actions {}

    }

    &_content {
        background: #272727;
        padding: 8px;
        border-bottom: 1px solid var(--border-c);
    }
}

.transformSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}