.transformSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}


.hint {
    font-size: 9px;
    opacity: .5;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
}