.section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-c);

    &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 11px;
        height: 30px;

        &_col {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        &_arrow {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 16px;

            &[data-open="true"] {
                transform: rotate(-90deg);
            }
        }

        &_actions {}

    }

    &_content {
        /* margin: 2px 0 28px 0; */
    }
}


.dragNumberInput {
    display: flex;
    align-items: center;
    gap: 2px;
    /* width: 86px; */
    font-size: 11px;
    background: #404040;
    border-radius: 20px;
    padding: 3px;

    &_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
        transition: all ease .4s;

        &[data-dragging="true"] {
            opacity: 0;
            transform: scale(0);
        }

        &_wrap {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #111111;
            border-radius: 20px;
            aspect-ratio: 1 / 1;
            height: 22px;
        }
    }

    &_ball {
        opacity: 0;
        transition: all ease .4s;
        width: 100%;
        height: 100%;
        background: #111111;
        border-radius: 20px;
        position: absolute;
        pointer-events: none;

        &[data-dragging="true"] {
            opacity: 1;
            transform: scale(0.4);
            background: #bababa;
        }

        &[data-dragging-direction="right"] {
            transform: scale(0.4) translateX(10px);
        }

        &[data-dragging-direction="left"] {
            transform: scale(0.4) translateX(-10px);
        }

    }

    &_wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        input {
            font-size: 11px;
            min-height: 12px;
            max-height: 20px;
            line-height: 1;
            padding: 0;
        }

        /* Chrome, Edge, Safari, Opera */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }

        [data-position="right"] {
            display: none;
        }
    }

    &_units {
        button {
            min-width: 16px;
            max-width: 16px;
        }
    }
}

.dragNumberInput_icon_wrap {
    cursor: ew-resize;
    user-select: none;
    transition: background 0.2s, transform 0.15s;
}

.transformSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}