.cp_item {
    display: flex;
    gap: 12px;
    border-bottom: 1px solid var(--mantine-color-dark-5);
    margin-bottom: 6px;
    padding: 4px 0;
    cursor: pointer;
}

.cp_color_preview {
    display: flex;
    gap: 4px;
}

.cp_color_preview_item {
    width: 16px;
    height: 16px;
    border-radius: 20px;
    margin-bottom: 4px;
    border: 1px solid #888;
}

.cp_color_label {
    display: flex;
    font-size: 10px;
    flex: 1;
    justify-content: space-between;
}


.cp_item {
    &:hover .cp_color_edit {
        opacity: 1;
    }
}

.colorWrap {
    display: flex;
    align-items: center;
    padding: 0 4px;
    width: 100%;
    height: 28px;
    background: #404040;
    border-radius: 20px;
    gap: 12px;
    cursor: pointer;
}

.color {
    width: 20px;
    height: 20px;
    border-radius:  10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.label {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}