.wrap {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 11px;
    background: var(--in-c);
    border-radius: 3px;
    justify-content: center;
    width: 100%;
    height: 28px;
}