.wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    z-index: 99;
    right: 0;
    width: 280px;
    height: 100%;
    background: var(--bg);
}

.title {
    display: flex;
    justify-content: flex-end;
    padding: 8px 12px;
    user-select: none;
}

.titleColumn {
    display: flex;
    align-items: center;
    gap: 8px;
}

.content {
    flex-grow: 1;
    overflow: hidden;
    display: none;
    height: 100%;
}

.content[data-show='true'] {
    display: block;
}