.wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mediaGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 8px;
    padding: 8px;
    overflow-y: auto;
    height: 100%;
}

.mediaItem {
    position: relative;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 6px;
    overflow: hidden;
    transition: border-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    backdrop-filter: brightness(0.5);
}

.mediaItem:hover {
    border-color: #99b1d2;
}

.mediaItemSelected {
    border-color: #99b1d2;
    box-shadow: 0 0 6px #99b1d288;
}

.mediaItem img,
.mediaItem video,
.mediaItem audio {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 6px;
}

.selectedMedia {
 position: absolute;
    top: 4px;
    right: 4px;
    background-color: #99b1d2;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    aspect-ratio: 1 / 1;
}

.loadmoreWrap {
    padding: 8px;
    text-align: center;
}

.initLoadWrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initLoad {
    text-align: center;
    color: #666;
}

.rotate {
    animation: spin 2s linear infinite;
    margin-bottom: 12px;
    color: #99b1d2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}