.action {
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0 12px;
    position: relative;

    &:disabled {
        pointer-events: none;
        opacity: .4;
    }
}

.chip {
    width: 16px;
    height: 16px;
    font-size: 10px;
    background: rgb(153 177 210);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.list {
    position: relative;

    &_item {
        display: flex;
        align-items: center;
        height: 48px;
        border: 1px solid #4a4a4a;
        margin-bottom: 4px;
        border-radius: 3px;
        padding: 6px;

        &_col {
            display: flex;
            flex-direction: column;
            flex: 1;
            
            &[data-right] {
                display: flex;
                align-items: flex-end
            }
        }

        &_title {
            font-size: 12px;

            &_label {
                font-size: 10px;
                display: flex;
                align-items: center;
                gap: 2px;
                opacity: .8;
            }

            svg {
                width: 12px;
                height: 12px;
            }
        }

        &_action {}
    }
}

.publish_button {
    display: flex;
    justify-content: center;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 10px;
    text-transform: uppercase;
    border: 2px solid #0d69e1;
}