.section_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    font-weight: 400;
    height: 30px;
    padding: 8px;
    border: 1px solid var(--border-c);
    border-width: 1px 0;
}

.fonts {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 8px 24px 8px;
}

.fontCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 16/9;
    position: relative; 
    font-family: var(--mantine-font-family);
    transition: all ease .4s;
    background-color: var(--in-c);
    font-size: 11px;
    
    &_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 8px;

        /* span {
            display: inline-block;
            padding: 8px;
            background: rgba(255, 255, 255, 0.3);
            
            } */
    }

    &_title {
        font-size: 13px;
        text-transform: capitalize;
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-weight: 500;
        padding-top: 6px;
        transition: all ease .4s;
    }

    &_hex {
        font-size: 11px;
        transition: all ease .4s;
        /* font-weight: 300; */
    }

    &_stripe {
        display: flex;
        border-radius: 2px;
        overflow: hidden;

        &Wrap {
            width: 100%;
            bottom: 0;
            padding: 6px;
        }

        &_item {
            flex: 1;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}