:root {
    --bg: #242424;
    --border-c: #3B3B3B;
    --in-c: #383838;
}

.mainWrap {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    /* display: flex; */
    /* align-items: center; */
}

.main {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    height: 100%;
}

.left {
    width: 280px;
    height: 100%;
    position: relative;
    border-right: 1px solid var(--border-c);
}

.right {
    flex: 1;
    padding-right: 1px;
    display: flex;
    flex-direction: column;
}

.brand {
    display: flex;
    height: 100%;

    &_wrap {
        display: flex;
        gap: 2px;
        padding: 0 8px 8px;
        border-bottom: 1px solid var(--border-c);
    }

    &_left {
        display: flex;
        gap: 2px;
        flex-direction: column;
        width: 100%;
    }

    &_right {}

    &_logo {
        display: flex;
        align-items: flex-end;
        width: 18px;
        flex-wrap: wrap;
        position: relative;

        svg {
            max-width: 18px;
            color: #fff;
        }
    }

    &_card {
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        height: 28px;
        font-size: 13px;
        letter-spacing: -.1px;
        padding: 0 6px;
        line-height: 1;
        position: relative;
    }
}



.nav {

    &_panel {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 2px;
    }

    &_item {
        height: 26px;
        width: 100%;
        border-radius: 2px;
        font-size: 11px;
        display: flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;
        transition: all ease .4s;

        &_icon {
            width: 26px;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &:hover {}
    }
}



.top_bar {
    display: flex;
    justify-content: space-between;
    height: 37px;
    align-items: center;
    border-bottom: 1px solid var(--border-c);
    padding: 0 12px;

    &_filter {
        display: flex;
        gap: 2px;
        cursor: pointer;

        &_btn {
            width: auto;
            height: 26px;
            /* color: #fff; */
            border: 1px solid #2c2c2c;
            border-radius: 3px;
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 0 8px;
            font-size: 10px;
            backdrop-filter: blur(1px);

            &[data-active="true"] {
                color: #fff;
                background: rgb(153 177 210);
                border: 0;
            }

            span,
            svg {
                width: 15px;
                height: 15px;
            }
        }
    }

    &_author_card {
        display: flex;
        gap: 2px;
        background: #fff;
        padding: 2px;
        color: #333;
        border-radius: 3px;
    }

    &_mode,
    &_author_name {
        font-size: 11px;
        font-weight: 500;
        color: #333;
        border-radius: 3px;
        display: flex;
        align-items: center;
        padding: 0 12px;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        letter-spacing: -0.2px;
    }

    &_mode {
        color: #fff;
        font-style: italic;
        background: #2f2e2e;
        user-select: none;
        font-weight: 400;
    }

    &_author_img {
        width: 26px;
        height: 26px;
        min-width: 26px;
        border-radius: 3px;
        box-shadow: 0px 0px 11px rgb(153 177 210);
    }

    &_author_placeholder {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;
        height: 26px;
        border-radius: 3px;
        background: rgb(153 177 210);
        box-shadow: 0px 0px 11px rgb(153 177 210);
    }
}

.content_cards {
    flex: 1;
    display: flex;
    margin: 30px 28px 0 30px;
    padding-left: 1px;
    padding-bottom: 30px;
    /* background: #cd19196f; */
    overflow: hidden;

    &_wrap {
        display: flex;
        flex-wrap: wrap;
        column-gap: 14px;
        row-gap: 30px;
    }

    &_item {
        width: 252px;
        position: relative;

        &_image {
            height: 166px;
            width: 100%;
            background: #333;
            border-radius: 3px;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 160px;
            text-shadow: 20px -10px 33px #99b1d26b;
            color: #333333;
            pointer-events: none;
            text-transform: uppercase;
        }

        &_detail {
            display: flex;
            align-items: center;
            padding: 8px;
            height: 56px;
            border-radius: 3px;
            background: #0d0d0d;

            &_left {
                flex: 1;
                display: flex;
                align-items: center;
            }
        }


        &_label {
            display: block;
            word-wrap: break-word;
            font-size: 11px;
            font-weight: 500;
            max-width: 160px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &_icon {
            display: inline-flex;
            width: 16px;
            margin-right: 6px;
            align-items: center;
        }
    }
}


.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: invert(.3) brightness(0.3);
    opacity: 1;
    transition: opacity 1s ease;

    &_logoWrap {
        position: relative;
    }

    &[data-loaded="true"] {
        opacity: 0;
        pointer-events: none;
    }
}

/* dialog wrap*/
.dw_outer_wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(37, 37, 37, 0.3);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dw_wrap {
    position: relative;
    width: 600px;
    height: 80vh;
    background: #111;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    position: relative;
    padding: 6px;
}

.dw_topbar {
    height: 40px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    border-radius: 3px;
    letter-spacing: -.2px;
}

.dw_container {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
}

.dw_subtitle {
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid var(--mantine-color-dark-5);
    padding: 6px 0;
    margin: 0 0 24px;
}

.dw_sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.dw_sidebar_pill {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 0 12px;
    height: 32px;
    border-radius: 3px;
    transition: all ease .4s;
    margin-bottom: 4px;
    cursor: pointer;

    &:hover,
    &[data-active="true"] {
        color: #fff;
        background: rgb(153 177 210);
    }

}

.dw_sidebar_footer {}

.dw_content {
    flex: 1;
    padding: 0 8px;
}