.wrap {
    padding: 0 24px 12px;
}

.item {
    margin-bottom: 8px;
    transition: all ease-in .3s;
    border: 1px solid transparent;
    border-radius: 6px;
    &[data-open="true"] {
        border-color: var(--mantine-color-blue-6);
        padding: 6px;
    }
}

.titleWrap {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    gap: 4px;
}

.section {
    margin-top: 4px;
}