/* InspectorCanvas.module.css */
.inspectorHover {
  position: absolute;
  box-sizing: border-box;
  border: 1px dashed rgba(0, 100, 255, 0.7);
}

.inspectorSelected {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #0064ff;
  border-radius: 4px;
}

.handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border: 1px solid #0064ff;
  pointer-events: auto;
}

.handleTl {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}

.handleTr {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.handleBl {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.handleBr {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

.frameHandler {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -12px;
  top: 0;
  width: 10px;
  height: 100%;
  border-radius: 2px;
  cursor: ew-resize;
  background-color: transparent;
  transition: background-color 0.2s;
  z-index: 99999;
  pointer-events: auto;

  &[data-resizing="true"],
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.frameResizeLabel {
  position: absolute;
  top: -24px;
  right: 0;
  font-size: 10px;
  background: #99b1d2;
  color: #ffffff;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
  pointer-events: none;
}

.frameResizeHint {
  /* color: rgba(252, 252, 252, 0.4); */
  /* amber-400 for hint */
  margin-left: 4px;
}

.frameHandlerIdicater {
  width: 4px;
  height: 60px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.4);
}