.brand {
    display: flex;
    gap: 2px;
    height: 100%;

    &_logo {
        display: flex;
        gap: 2px;
        width: 54px;
        flex-wrap: wrap;
        position: relative;

        svg {
            position: absolute;
            width: 36px;
            left: 9px;
            top: 9px;
            color: #fff;
        }

        span {
            display: inline-block;
            width: 26px;
            height: 26px;
            border-radius: 3px;
            background: #535353;
        }
    }

}

