.wrap {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.component {
    background: var(--mantine-color-dark-6);
    border-radius: 3px;
    width: 360px;
}

.head {
    padding: 12px 12px 0;
    font-size: 14px;
}

.body {
    padding: 12px;
}