.postionInfo {
    position: relative;
    padding-left: 12px;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    margin: 8px 0;
    &:before {
        content: '';
        position: absolute;
        left: 2px;
        width: 3px;
        height: 100%;
        background: var(--in-c);
        border-radius: 2px;
    }
    span {
        font-weight: 300;
        opacity: .6;
        font-style: italic;
    }
}

.ppBox {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    &_left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_right {
        display: flex;
        flex-direction: column;
        width: 86px;
        gap: 8px;
    }
}