.wrap {
    position: relative;
    width: 600px;
    max-height: 100vh;
    border-width: 1px 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 12px;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--mantine-color-dark-4);
}

.titleColumn {
    display: flex;
    align-items: center;
    gap: 8px
}

.content {
    padding: 8px;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    overflow: hidden;
    position: relative;
    flex: 1;
    display: none;
}

.content[data-show="true"] {
    display: block;
}

.sub_title {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    background: var(--mantine-color-dark-8);
    border-radius: 3px;
    letter-spacing: 1px;
    padding: 8px;
    margin-bottom: 12px;
}

.section {
    margin-bottom: 24px;
}